/vendor
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot
storage/*.key

# Laravel 5.4.* specific
.phpunit.result.cache
.phpunit.cache

# Laravel 5.5.* specific
/public/build
/storage/pail

# Laravel 5.6.* specific
.env
.env.backup
.env.production
.phpactor.json
auth.json

# Laravel 5.8.* specific
/.vagrant
/.fleet
/.idea
/.vscode
/.zed
